h1,
form legend {
  text-align: center;
}
form {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
table {
  width: 300px;
  margin: auto;
}
table,
th,
td {
  border: 1px solid gray;
  border-collapse: collapse;
}
hr {
  margin: 2rem;
}
.ta-center {
  text-align: center;
}
