{% extends "web/base.html" %} {% load static %} {% block content %}
<!-- Heading -->
<section class="page-section clearfix">
  <div class="container">
    <h1 class="text-white">Servicios</h1>
  </div>
</section>
<!-- Message -->
<section class="page-section cta">
  <div class="container">
    {% for service in services %}
    <div>{{service.title}}</div>
    <div>{{service.content}}</div>
    <img src="{{service.image.url}}" alt="{{service.title}}" />
    {% endfor %}
  </div>
</section>
{% endblock %}
