<p>tasks works!</p>
<section>
  @if (errorMessage) {
  <p>{{ errorMessage }}</p>
  } @if (successMessage) {
  <p>{{ successMessage }}</p>
  }
</section>
<section>
  <button type="button" (click)="createOne()">Create</button>
</section>
<section>
  <button type="button" (click)="readAll()">Read all</button>
  @if (Tasks$ | async; as results) {
  <ul>
    @for (dato of results.datos; track dato.id) {
    <li>{{ dato.destinatario }}</li>
    }
  </ul>
  }
</section>
<section>
  <button type="button" (click)="readOne()">Read</button>
</section>
<section>
  <button type="button" (click)="updateOne()">Update</button>
</section>
<section>
  <button type="button" (click)="deleteOne()">Delete</button>
</section>
