:root {
  --ff-sans-serif: "Noto Sans Multani", sans-serif;
  --ff-serif: "Sawarabi Mincho", serif;
  --c-dark: #003566;
  --c-light: #edede9;
  --c-bright: greenyellow;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  margin: 0;
  height: 100%;
  font-family: var(--ff-sans-serif);
  font-size: 1rem;
  background-color: var(--c-dark);
  color: var(--c-light);
}
main,
aside {
  font-size: 2rem;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--c-bright);
  text-decoration: underline;
}
.me {
  background-color: var(--c-dark);
  background-image: url("../images/bbt.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 4rem;
}
.me-photo {
  border-radius: 2rem;
}
.me-name {
  text-align: center;
  font-size: 3rem;
  font-family: var(--ff-sans-serif);
  color: var(--c-light);
}
.container {
  width: 100%;
  padding: 2rem;
}
.title {
  font-size: 2.5rem;
  font-family: var(--ff-serif);
}
.subtitle {
  font-size: 2rem;
  font-family: var(--ff-serif);
}
.material-symbols-outlined {
  font-size: 3rem;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .me {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .me-photo {
    max-width: 30rem;
  }
  .me-name {
    color: var(--c-dark);
    text-shadow: 0.25rem 0.25rem var(--c-bright);
  }
  aside {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  aside {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
