*,
*::before,
*::after {
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
  border: 1px solid blue;
}
.nav div {
  display: flex;
  gap: 10px;
}
.subtitle {
  text-align: center;
  margin: 20px 0;
  font-size: 32px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card {
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card button {
  width: fit-content;
  margin: 20px 0;
}
.cart {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin: 20px 0;
}
.pay-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}
.pay {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 40px;
  margin: auto;
}
.pay button {
  margin: 10px;
}
