/* GLOBAL */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 16px;
}
/* GENERAL */
.container {
  padding: 1rem;
}
.d-none {
  display: none;
}
.fs-1rem {
  font-size: 1rem;
}
.fs-1em {
  font-size: 1em;
}
.warning {
  color: orangered;
}
/* SECTION */
/* .signup {
  border: 1px solid blue;
} */
.signup fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.signup button {
  width: 100%;
  margin: 2rem 0;
}
