<!-- <p>gifts works!</p> -->
<section>
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#modal"
    (click)="handleAdd()"
  >
    Add Gift
  </button>
</section>
<section>
  @if (allGifts.length > 0) {
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (gift of allGifts; track gift.id) {
        <tr>
          <td>{{ gift.destinatario }}</td>
          <td>
            <button
              type="button"
              class="btn btn-info"
              data-bs-toggle="modal"
              data-bs-target="#modal"
              (click)="handleView(gift.id)"
            >
              View
            </button>
            <button
              type="button"
              class="btn btn-warning"
              data-bs-toggle="modal"
              data-bs-target="#modal"
              (click)="handleEdit(gift.id)"
            >
              Edit</button
            ><button
              type="button"
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#modal"
              (click)="handleDelete(gift.id)"
            >
              Delete
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</section>
<aside>
  <!-- Modal -->
  <div
    class="modal fade"
    id="modal"
    tabindex="-1"
    aria-labelledby="modalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalLabel">{{ modalTitle }}</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="handleCloseModal()"
          ></button>
        </div>
        <div class="modal-body">{{ modalBody }}</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="handleCloseModal()"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-{{ modalBtnColor }}"
            [disabled]="modalButton === ''"
            (click)="handleCtaModal()"
            data-bs-dismiss="modal"
          >
            {{ modalButton }}
          </button>
        </div>
      </div>
    </div>
  </div>
</aside>
