body,
header,
main,
aside,
footer,
button,
.chart_div {
    width: 100%;
    margin: auto;
    padding: 8px;
    text-align: center;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

@media screen and (min-width: 480px) {
    body {
        max-width: 456px;
    }
}

@media screen and (min-width: 768px) {
    body {
        max-width: 720px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        max-width: 1140px;
    }
}