body {
    background-color: lightgray;
}
.bg-rojo {
    background-color: red;
    color: white;
}
.bg-amarillo {
    background-color: yellow;
}
.bg-verde {
    background-color: green;
    color: white;
}