<app-top></app-top>
<main class="container">
  <h1>Login</h1>
  <form (submit)="login()">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="user.email"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        [(ngModel)]="user.password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</main>
<app-bottom></app-bottom>
