<app-navigation />
<div>
  <h1>Home</h1>
  <p>home works!</p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis nulla
    magnam perferendis! Dolorem quidem laudantium saepe corporis quas fuga rem
    deleniti aliquam dolorum atque. Rerum suscipit explicabo magnam quasi
    adipisci?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
    quidem quos, praesentium adipisci, accusamus cum sequi nostrum atque vel
    libero ipsam incidunt debitis dignissimos. Blanditiis iure fuga alias? Nam,
    voluptas! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Cupiditate voluptatem inventore sequi cumque maxime sunt recusandae,
    quibusdam odio, hic sed, incidunt pariatur amet voluptate tenetur fugiat qui
    molestias provident. Odit?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
    voluptatum. Quisquam, cumque! Quos, cumque? Doloribus, voluptatum. Quisquam,
    cumque! Doloribus, voluptatum. Quisquam, cumque! Doloribus, voluptatum.
    Quisquam, cumque! Doloribus, voluptatum. Quisquam, cumque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
    voluptatum. Quisquam, cumque! Doloribus, voluptatum. Quisquam, cumque!
    Doloribus, voluptatum. Quisquam, cumque! Doloribus, voluptatum. Quisquam,
    cumque! Doloribus, voluptatum. Quisquam, cumque! Doloribus, voluptatum.
    Quisquam, cumque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
    voluptatum. Quisquam, cumque! Doloribus, voluptatum. Quisquam, cumque!
    Doloribus, voluptatum. Quisquam, cumque! Doloribus, voluptatum. Quisquam,
    cumque! Doloribus, voluptatum. Quisquam, cumque! Doloribus, voluptatum.
    Quisquam, cumque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
    voluptatum. Quisquam, cumque! Doloribus, voluptatum. Quisquam, cumque!
    Doloribus, voluptatum. Quisquam, cumque! Doloribus, voluptatum. Quisquam,
    cumque! Doloribus, voluptatum. Quisquam, cumque! Doloribus, voluptatum.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, sunt?
    Reprehenderit omnis libero aperiam, saepe facilis, officiis exercitationem
    ipsa similique provident impedit perspiciatis molestias dolorem, illo harum
    assumenda ipsum! Asperiores?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, sunt?
    Reprehenderit omnis libero aperiam, saepe facilis, officiis exercitationem
    ipsa similique provident impedit perspiciatis molestias dolorem, illo harum
    assumenda ipsum! Asperiores?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta temporibus
    voluptatibus sapiente, aliquid reiciendis unde ratione dolor rem, at ipsum
    dignissimos voluptatum iste quod sequi error libero fugit alias vel.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore id
    nostrum aliquid iure hic temporibus ipsa quia ea voluptatem tempora quisquam
    ipsum asperiores eos, ipsam sit, recusandae placeat quis?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
    consequuntur aut fuga, nesciunt fugiat illo aspernatur tempora similique
    veritatis debitis a deleniti molestiae at odit, accusamus quaerat ducimus
    dicta tenetur?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magnam,
    amet sunt consequatur alias suscipit harum modi dolorum veniam ut, sit natus
    ipsa perspiciatis numquam maiores! Ullam minima illum autem?
  </p>
  @defer (on viewport) {
  <h2>Lorem, ipsum dolor.</h2>
  <ol>
    <li>Lorem, ipsum.</li>
    <li>Lorem, ipsum.</li>
    <li>Lorem, ipsum.</li>
  </ol>
  <ul>
    <li>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam quaerat
      repellendus, voluptatibus quibusdam molestiae voluptate vero voluptas
      veritatis esse illo dolor nobis pariatur placeat alias aliquam
      reprehenderit et doloribus quia!
    </li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque sunt
      dolore repellendus aliquam sapiente! Saepe rerum doloribus quod amet.
      Sequi rerum veritatis saepe dolorem eligendi asperiores! Ad veritatis
      cupiditate ipsum.
    </li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus,
      eligendi dolor quas a voluptas inventore iure? Officia quae odio modi
      dolor exercitationem natus eaque dignissimos doloribus, eius fugiat dicta
      rerum!
    </li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex
      doloribus provident tenetur voluptas sit officia nisi minus blanditiis
      asperiores rem ipsam fuga, veritatis cupiditate enim, reiciendis
      laudantium repellendus obcaecati.
    </li>
  </ul>
  } @placeholder (minimum 3s) {
  <p>Future content</p>
  } @loading (minimum 5s) {
  <p>Loading content...</p>
  }
</div>
