*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  margin: 0;
}
.title {
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.puppies-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.puppy-card {
  border: 1px solid green;
}
.puppy-image {
  width: 24rem;
  height: 24rem;
  object-fit: cover;
  border: 1px solid blue;
}
.puppy-name {
  font-size: 2rem;
  text-align: center;
  border: 1px solid purple;
}
