<app-top></app-top>
<main class="container">
  <h1>Tasks</h1>
  <h2>Hello, {{ getUserName() }}!</h2>
  <form class="mt-5" #taskForm="ngForm" (ngSubmit)="addTask(taskForm)">
    <input type="hidden" name="_id" [ngModel]="tasksService.selectedTask._id" />
    <div class="mb-3">
      <label for="name" class="form-label">Task</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        [(ngModel)]="tasksService.selectedTask.name"
      />
    </div>
    <div class="mb-3 form-check" *ngIf="tasksService.selectedTask._id">
      <input
        type="checkbox"
        class="form-check-input"
        id="completed"
        name="completed"
        [(ngModel)]="tasksService.selectedTask.completed"
      />
      <label class="form-check-label" for="completed"> Completed </label>
    </div>
    <div class="d-flex gap-4">
      <ng-container *ngIf="tasksService.selectedTask._id; else create">
        <button type="submit" class="btn btn-warning">Update</button>
      </ng-container>
      <ng-template #create>
        <button type="submit" class="btn btn-primary">Create</button>
      </ng-template>
      <button
        type="reset"
        class="btn btn-primary"
        (click)="resetForm(taskForm)"
      >
        Reset
      </button>
    </div>
  </form>
  <ul class="list-group mt-5" *ngFor="let task of tasksService.tasks">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <div>{{ task.name }}</div>
      <div class="d-flex gap-4">
        <button
          type="button"
          class="btn btn-info"
          (click)="viewTask(task)"
          routerLink="/task/{{ task._id }}"
          routerLinkActive="active"
        >
          <i class="bi bi-eye-fill d-block"></i>View
        </button>
        <button type="button" class="btn btn-warning" (click)="editTask(task)">
          <i class="bi bi-check-circle-fill d-block"></i>Edit
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="removeTask(task._id)"
        >
          <i class="bi bi-x-circle-fill"></i><span class="d-block">Delete</span>
        </button>
      </div>
    </li>
  </ul>
</main>
<app-bottom></app-bottom>
