{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card card-body">
            <form action="/add" method="POST">
                <div class="form-group">
                    <input type="text" name="fullname" placeholder="Fullname" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="phone" placeholder="Phone" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="email" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Fullname</td>
                    <td>Phone</td>
                    <td>Email</td>
                    <td>Operations</td>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr>
                    <td>{{ contact.1 }}</td>
                    <td>{{ contact.2 }}</td>
                    <td>{{ contact.3 }}</td>
                    <td>
                        <a href="/edit/{{ contact.0 }}" class="btn btn-secondary">Edit</a>
                        <a href="/delete/{{ contact.0 }}" class="btn btn-danger btn-delete">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}