body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}
h3 {
    width: 400px;
    background-color: black;
    color: white;
    padding: 1rem;
    margin-bottom: 0;
}
div {
    width: 400px;
    background-color: lightgray;
    padding: 1rem;
}
legend {
    font-weight: bold;
}
input {
    margin-top: 0.5rem;
    padding: 0.5rem;
}
button {
    border: lightskyblue;
    background-color: #1991DA;
    color: white;
    padding: 0.6rem 1rem;
}
table {
    width: 360px;
    margin-top: 1em;
    text-align: center;
    border-collapse: collapse;
}

thead {
    background-color: black;
    color: white;
}

th,
td {
    padding: 0.5em;
    border: 1px solid gray;
}
td {
    background-color: white;
}