<app-top></app-top>
<main class="container">
  <h1>Home works!</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur beatae
    quo placeat sint mollitia? Repellat iure ab et obcaecati quibusdam
    voluptates eveniet beatae mollitia aut, eligendi accusantium laudantium sint
    sit.
  </p>
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/html.png" class="d-block w-100" alt="html" />
      </div>
      <div class="carousel-item">
        <img src="./assets/css.png" class="d-block w-100" alt="css" />
      </div>
      <div class="carousel-item">
        <img
          src="./assets/javascript.png"
          class="d-block w-100"
          alt="javascript"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae quae hic
    voluptates? Quisquam eveniet vitae autem tempore ratione omnis temporibus
    neque hic, modi, perferendis minima sit fuga officiis architecto?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis non, aut
    cum deleniti aliquam magni molestias modi voluptatum reprehenderit, earum
    aspernatur? Iure natus mollitia aperiam quaerat maxime eligendi adipisci
    consectetur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae quae hic
    voluptates? Quisquam eveniet vitae autem tempore ratione omnis temporibus
    neque hic, modi, perferendis minima sit fuga officiis architecto?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur beatae
    quo placeat sint mollitia? Repellat iure ab et obcaecati quibusdam
    voluptates eveniet beatae mollitia aut, eligendi accusantium laudantium sint
    sit.
  </p>
  <section id="products" class="mt-5">
    <h2>Products</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus aperiam
      odio placeat quam voluptatibus repellat voluptates est amet eum
      cupiditate? Iusto necessitatibus odit nihil optio voluptas facere
      perferendis doloribus magnam!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae quae
      hic voluptates? Quisquam eveniet vitae autem tempore ratione omnis
      temporibus neque hic, modi, perferendis minima sit fuga officiis
      architecto?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aspernatur
      dignissimos necessitatibus architecto officia est non provident magnam
      minus doloribus? Consequuntur culpa ut esse nisi error quod totam deleniti
      facere.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae quae
      hic voluptates? Quisquam eveniet vitae autem tempore ratione omnis
      temporibus neque hic, modi, perferendis minima sit fuga officiis
      architecto?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum hic
      nobis vel itaque voluptatem possimus ipsam quam omnis culpa tempora,
      praesentium, nesciunt fugit quidem inventore perspiciatis id, perferendis
      ab eaque.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae quae
      hic voluptates? Quisquam eveniet vitae autem tempore ratione omnis
      temporibus neque hic, modi, perferendis minima sit fuga officiis
      architecto?
    </p>
  </section>
  <section id="services" class="mt-5">
    <h2>Services</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus aperiam
      odio placeat quam voluptatibus repellat voluptates est amet eum
      cupiditate? Iusto necessitatibus odit nihil optio voluptas facere
      perferendis doloribus magnam!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae quae
      hic voluptates? Quisquam eveniet vitae autem tempore ratione omnis
      temporibus neque hic, modi, perferendis minima sit fuga officiis
      architecto?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aspernatur
      dignissimos necessitatibus architecto officia est non provident magnam
      minus doloribus? Consequuntur culpa ut esse nisi error quod totam deleniti
      facere.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae quae
      hic voluptates? Quisquam eveniet vitae autem tempore ratione omnis
      temporibus neque hic, modi, perferendis minima sit fuga officiis
      architecto?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum hic
      nobis vel itaque voluptatem possimus ipsam quam omnis culpa tempora,
      praesentium, nesciunt fugit quidem inventore perspiciatis id, perferendis
      ab eaque.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae quae
      hic voluptates? Quisquam eveniet vitae autem tempore ratione omnis
      temporibus neque hic, modi, perferendis minima sit fuga officiis
      architecto?
    </p>
  </section>
  <section id="aboutUs" class="mt-5">
    <h2>AboutUs</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus aperiam
      odio placeat quam voluptatibus repellat voluptates est amet eum
      cupiditate? Iusto necessitatibus odit nihil optio voluptas facere
      perferendis doloribus magnam!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae quae
      hic voluptates? Quisquam eveniet vitae autem tempore ratione omnis
      temporibus neque hic, modi, perferendis minima sit fuga officiis
      architecto?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aspernatur
      dignissimos necessitatibus architecto officia est non provident magnam
      minus doloribus? Consequuntur culpa ut esse nisi error quod totam deleniti
      facere.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae quae
      hic voluptates? Quisquam eveniet vitae autem tempore ratione omnis
      temporibus neque hic, modi, perferendis minima sit fuga officiis
      architecto?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum hic
      nobis vel itaque voluptatem possimus ipsam quam omnis culpa tempora,
      praesentium, nesciunt fugit quidem inventore perspiciatis id, perferendis
      ab eaque.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae quae
      hic voluptates? Quisquam eveniet vitae autem tempore ratione omnis
      temporibus neque hic, modi, perferendis minima sit fuga officiis
      architecto?
    </p>
  </section>
  <section id="contact" class="mt-5">
    <h2>Contact</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus aperiam
      odio placeat quam voluptatibus repellat voluptates est amet eum
      cupiditate? Iusto necessitatibus odit nihil optio voluptas facere
      perferendis doloribus magnam!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae quae
      hic voluptates? Quisquam eveniet vitae autem tempore ratione omnis
      temporibus neque hic, modi, perferendis minima sit fuga officiis
      architecto?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aspernatur
      dignissimos necessitatibus architecto officia est non provident magnam
      minus doloribus? Consequuntur culpa ut esse nisi error quod totam deleniti
      facere.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae quae
      hic voluptates? Quisquam eveniet vitae autem tempore ratione omnis
      temporibus neque hic, modi, perferendis minima sit fuga officiis
      architecto?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum hic
      nobis vel itaque voluptatem possimus ipsam quam omnis culpa tempora,
      praesentium, nesciunt fugit quidem inventore perspiciatis id, perferendis
      ab eaque.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae quae
      hic voluptates? Quisquam eveniet vitae autem tempore ratione omnis
      temporibus neque hic, modi, perferendis minima sit fuga officiis
      architecto?
    </p>
  </section>
</main>
<app-bottom></app-bottom>
